@font-face {
  font-family: "Arial GEO";
  src: url("../fonts/ArialGEO.woff2") format("woff2"),
    url("../fonts/ArialGEO.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
